body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 250, 248);
}

.redWarning {
    background-color: rgb(254, 77, 77);
}

h1 {
    text-align: center;
}

h3 {
    margin-left: 20vw;
}

#input-fields {
    margin-left: 1vw;
    text-align: center;
}

input {
    text-align: center;
    width: 12vw;
    padding: 12px 12px;
    box-sizing: border-box;
}

#add-employee-btn {
    background-color: rgb(206, 206, 206);
    border-radius: 4px;
    width: 20vw;
    margin: 1vw 40vw;
    padding: 0.3vw;
}

table {
    margin: 0vw 20vw;
    min-width: 60vw;
    border-collapse: collapse;
}

th {
    background: rgb(206, 206, 206);
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: .2vw;
}

tbody tr:nth-child(even) {
    background: #eee;
}

tbody tr:nth-child(odd) {
    background: rgb(255, 255, 255);
}

table tbody tr:first-child td:nth-child(6) {
    min-width: 3vw;
 }

 tr:hover td, tr:hover {
    background: rgb(255, 255, 192);
}

 #total-monthly-area {
     float: right;
     margin-right: 20vw;
 }